.skills_container {
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}

.skills_content {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
  border-radius: 1.25rem;
}

.skills_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
  font-weight: bold;
}

.skills_box {
  display: flex-start;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills_group {
  display: grid;
  align-items: flex-start;
  row-gap: 1.5rem;
}

.skills_data {
  display: flex;
  column-gap: 0.5rem;
}

.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium-weight);
  line-height: 18px;
}

.skills_level {
  font-size: var(--tiny-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .skills_container {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
}

/* For medium devices */

@media screen and (max-width: 995px) {
  .skills_container {
    grid-template-columns: 1fr;
  }
  .skills_content {
    padding: 1.5rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .skills_box {
    column-gap: 1.25rem;
  }
  .skills_name {
    font-size: var(--small-font-size);
  }
}

.skills_data {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.skills_name {
  font-weight: 500;
}

.skills_level {
  font-size: 0.85rem;
  margin-left: 1rem;
}

.skills_bar {
  position: relative;
  /* width: 100%; */
  width: 150px;
  height: 5px;
  background: #e4e4e4;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 0.5rem;
}

.skills_percentage {
  height: 100%;
  /* background: #4caf50; */
  background: var(--title-color-dark);
  border-radius: 5px;
  transition: width 0.3s ease;
}
