/* starRating.css */
.star_rating {
  display: flex;
  align-items: center;
}

.star_rating .bx {
  font-size: 0.5rem;
  color: var(--text-color); /* Star color */
  margin-right: 0.2rem;
  margin-top: 0.3rem;
}

.star_rating .bxs-star {
  color: var(--text-color); /* Filled star color */
}

.star_rating .bx-star {
  color: #ccc3c3; /* Empty star color */
}
