.about_container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.about_img_container {
  position: relative;
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.about_img {
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Scale the image to cover the entire container */
  transition: opacity 1s ease-in-out;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}

.about_img.visible {
  opacity: 1;
}

.about_img.hidden {
  opacity: 0;
}

.about_info {
  grid-template-columns: repeat(3, 140px);
  gap: 1.5rem;
  margin-bottom: var(--mb-1);
}

.about_box {
  background-color: var(-container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
}

.about_icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}

.about_title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.about_subtitle {
  font-size: var(--tiny-font-size);
}
.about_description {
  padding: 0 0 0 0;
  font-size: 13px;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* overflow-y: scroll; */
  height: 200px;
  margin-bottom: 1rem;
  position: relative;

  cursor: pointer;
  transition: all 0.3s ease;
}

.about_description:hover {
  opacity: 0.9;
}

.scrollable-box {
  max-height: 200px;
  /* overflow-y: scroll;  */
  padding-right: 10px;
}

.scrollable-box::-webkit-scrollbar {
  display: none;
}

.scrollable-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.subtitle {
  font-style: italic;
  font-size: 0.7rem;
  color: var(--text-color);
  display: block;
  margin: 0.2rem 0;
  margin-bottom: 0.5rem;
}

.section-content {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  max-height: 200px;
}

.section-content.visible {
  opacity: 1;
  position: relative;
  visibility: visible;
}

.section-content.hidden {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .about_container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about_img {
    width: 220px;
  }

  .about_box {
    padding: 0.75rem 0.5rem;
  }

  .about_data {
    text-align: center;
  }

  .about_info {
    justify-content: center;
  }

  .about_description {
    padding: 0 5rem;
    margin-bottom: 2rem;
  }
}

/* For medium devices */

@media screen and (max-width: 576px) {
  .about_info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about_description {
    padding: 0 5rem;
  }
  .about_img {
    width: 90%; /* Make the image fill the container */
    border-radius: 1.5rem; /* Keep the border radius */
    object-fit: cover; /* Scale the image to cover the container */
    transition: opacity 1s ease-in-out;
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .about_info {
    grid-template-columns: repeat(2, 1fr);
  }
}
